body
{
  background-color: lightblue ;
}

.login_div1 , .login_div2
{

   background-color: white;
   padding: 10px;
   float:none;
   width:50%;
   border-radius: 15px;
   
}
















